[submodule "vendor/mdspan"]
	path = vendor/mdspan
	url = https://github.com/tpadioleau/mdspan.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
	branch = master
[submodule "vendor/mdarray"]
	path = vendor/mdarray
	url = https://github.com/jbigot/mdarray.git
	branch = master
[submodule "vendor/benchmark"]
	path = vendor/benchmark
	url = https://github.com/google/benchmark.git
