[default]
locale = 'en-gb'
extend-ignore-re = ["capitalize()",
                    "MPI_\\S*",
                    "PDI_\\S*",
                    "ddc::\\S*",
                    "gko_exec->\\S*",
                    "on_finalize:",
                    "colors.Normalize"
                    ]

[default.extend-words]
# Don't correct these word (parts)
iy = "iy"
ND = "ND"
Strang = "Strang"
Ax = "Ax"
ax = "ax"
color = "color"
colors = "colors"

[files]
extend-exclude = ["*.tex",
                  "*.bib",
                  "*.sty"
                  ]
