[default]
locale = 'en-gb'
extend-ignore-re = ["capitalize()",
                    "MPI_[^(\\s]*",
                    "PDI_[^(\\s]*",
                    "CMAKE_\\S*",
                    "ddc::[^(\\s]*",
                    "gko_exec->\\S*",
                    "on_finalize:",
                    "colors.Normalize",
                    "spack concretize",
                    "'center left'",
                    "'center right'",
                    "unrecognized_links",
                    "Gif-sur-Yvette",
                    "GYSELALIBXX_HOME"
                    ]
extend-ignore-identifiers-re = [
    "Comput. Phys. Commun.",
    "J. Sci. Comput."
]

[default.extend-words]
# Don't correct these word (parts)
iy = "iy"
ND = "ND"
Strang = "Strang"
Ax = "Ax"
ax = "ax"
color = "color"
colors = "colors"
artifacts = "artifacts"

[files]
extend-exclude = ["*.tex",
                  "*.bib",
                  "*.sty",
                  "*.js",
                  "*.svg",
                  "*.css"
                  ]

[type.md]
extend-glob = ["*.md"]
extend-ignore-re = ["gyselalibxx"]

[type.md.extend-words]
Gyselalibxx = "Gyselalib++"

[type.md.extend-identifiers]
"Gyselalib[^+]" = "Gyselalib++"
"gyselalib" = "Gyselalib++"
