spack:
  definitions:
  - packages:
    - 'cmake@3.22:3'
    - 'ginkgo@1.9 +cuda cuda_arch=70 +openmp'
    - 'googletest +gmock'
    - 'kokkos@4.6:4 ~shared +wrapper +cuda +cuda_constexpr +cuda_relocatable_device_code cuda_arch=70 +openmp'
    - 'kokkos-fft@0.3 host_backend=fftw-openmp device_backend=cufft'
    - 'kokkos-kernels@4.6:4 ~shared'
    - 'kokkos-tools'
    - 'lapack'
    - 'mpi'
    - 'ninja'
    - 'paraconf@1'
    - 'pdi@1.6:1'
    - 'pdiplugin-decl-hdf5 +mpi'
    - 'pdiplugin-decl-netcdf +mpi'
    - 'pdiplugin-mpi'
    - 'pdiplugin-pycall'
    - 'pdiplugin-set-value'
    - 'pdiplugin-trace'
    - 'python@3.12:'

    - 'py-dask'
    - 'py-h5py'
    - 'py-imageio'
    - 'py-matplotlib'
    - 'py-netcdf4 +mpi'
    - 'py-numpy'
    - 'py-pyyaml'
    - 'py-scipy'
    - 'py-sympy'
    - 'py-xarray'
  specs:
  - matrix:
    - [$packages]
  repos:
    patches:
      git: https://github.com/gyselax/spack.git
      branch: releases/v2025.11
    builtin:
      branch: releases/v2025.11
  concretizer:
    unify: true
  view:
    default:
      root: .spack-env/view
      exclude: ['gcc-runtime']
  packages:
    all:
      variants: ~fortran ~mpi +openmp cxxstd=17
    c:
      require: gcc@13
    cxx:
      require: gcc@13
    lapack:
      require: openblas
    mpi:
      require: openmpi +cuda
