spack:
  definitions:
  - packages:
    - cmake
    - ginkgo@1.9 ~openmp +cuda cuda_arch=90
    - googletest +gmock
    - kokkos@4.7 ~openmp +cuda +cuda_relocatable_device_code +cuda_constexpr cuda_arch=90
    - kokkos-fft@0.4 host_backend=fftw-serial device_backend=cufft
    - kokkos-kernels@4.7 ~shared
    - kokkos-tools
    - lapack
    - mpi
    - ninja
    - paraconf
    - pdi
    - pdiplugin-decl-hdf5 +mpi
    - pdiplugin-decl-netcdf +mpi
    - pdiplugin-mpi
    - pdiplugin-pycall
    - pdiplugin-set-value
    - pdiplugin-trace
    - 'python@3.12:'

    - py-dask
    - py-h5py
    - py-imageio
    - py-matplotlib
    - py-netcdf4 +mpi
    - py-numpy
    - py-pyyaml
    - py-scipy
    - py-sympy
    - py-xarray
  - architectures:
    - arch=linux-sles15-icelake
  specs:
  - matrix:
    - [$packages]
    - [$architectures]
  repos:
    patches:
      git: https://github.com/gyselax/spack.git
      branch: releases/v2025.11
    builtin:
      branch: releases/v2025.11
  concretizer:
    unify: true
  packages:
    all:
      permissions:
        read: group
        write: group
      variants: ~fortran ~mpi
    cuda:
      buildable: false  # remove this line or not? 
      externals:
      - spec: cuda@12.8.93
        prefix: /mpcdf/soft/SLE_15/packages/x86_64/cuda/12.8.1
    c:
      require: gcc@14.1.0
    cxx:
      require: gcc@14.1.0
    gcc:
      externals:
      - spec: gcc@14.1.0 languages:='c,c++,fortran'
        prefix: /mpcdf/soft/SLE_15/packages/x86_64/gcc/14.1.0
        extra_attributes:
            compilers:
              c: /mpcdf/soft/SLE_15/packages/x86_64/gcc/14.1.0/bin/gcc
              cxx: /mpcdf/soft/SLE_15/packages/x86_64/gcc/14.1.0/bin/g++
              fortran: /mpcdf/soft/SLE_15/packages/x86_64/gcc/14.1.0/bin/gfortran
      - spec: gcc@7.5.0 languages:='c,c++,fortran'  
        prefix: /usr 
        extra_attributes: 
         compilers:   
          c: /usr/bin/gcc    
          cxx: /usr/bin/g++     
          fortran: /usr/bin/gfortran

    lapack:
      require: openblas
    mpi:
      require: openmpi
    openmpi:
      buildable: false # remove this line or not?
      externals:
      - spec: openmpi@5.0.9~cuda~java~memchecker~rocm~static~wrapper-rpath fabrics=psm2,ucx schedulers=none
        prefix: /mpcdf/soft/SLE_15/packages/skylake/openmpi/gcc_14-14.1.0/5.0.9
      - spec: openmpi@5.0.9+cuda~java~memchecker~rocm~static~wrapper-rpath fabrics=psm2,ucx schedulers=none
        prefix: /mpcdf/soft/SLE_15/packages/skylake/openmpi_gpu/cuda_12.8-12.8.1-gcc_14-14.1.0/5.0.9
    py-dask:
      variants: ~dataframe
  view: false
