# Project Metadata
site_name: GyselalibX                              # Name of the MkDocs documentation site
repo_url: https://github.com/gyselax/gyselalibxx/  # Repository URL for linking to the source code

# Documentation Source
docs_dir: 'mkdoc/'          # Directory where MkDocs looks for documentation files
use_directory_urls: false   # Keeps file extensions in URLs (e.g., docs/index.html instead of docs/)

# Navigation Structure
nav:
  - General:                    # General project information
      - Home: README.md                         # Main landing page
      - First Steps::
        - Getting Started: docs/first_steps/getting_started.md
        - Installation: docs/first_steps/install.md # Installation guide
        - DDC in Gyselalibxx: docs/first_steps/DDC_in_gyselalibxx.md
  - Standards:
      - Coding Standard: docs/standards/CODING_STANDARD.md
      - Math & Physics: docs/standards/mathematical_and_physical_conventions.md
  - Development:
      - Adding Docs: docs/development/Adding_docs.md
      - Using Git: docs/development/Using_git.md
      - Developer FAQ: docs/development/developer_FAQ.md
      - Gyselalib Source: src
      - Gyselalib Simulations: simulations
      - Gyselalib Tests: tests
  - Troubleshooting:
      - Compilation Issues: docs/troubleshooting/Common_compilation_problems.md

  - API:  # API reference documentation
      - Gyselalib++:
          - 'Classes':  # Class-related documentation
              - 'Class List': 'gyselalibxx/annotated.md'
              - 'Class Index': 'gyselalibxx/classes.md'
              - 'Class Hierarchy': 'gyselalibxx/hierarchy.md'
          - 'Namespaces':  # Namespace-related documentation
              - 'Namespace List': 'gyselalibxx/namespaces.md'
              - 'Namespace Members': 'gyselalibxx/namespace_members.md'
              - 'Namespace Member Functions': 'gyselalibxx/namespace_member_functions.md'
              - 'Namespace Member Variables': 'gyselalibxx/namespace_member_variables.md'
              - 'Namespace Member Typedefs': 'gyselalibxx/namespace_member_typedefs.md'
              - 'Namespace Member Enumerations': 'gyselalibxx/namespace_member_enums.md'
          - 'Functions': 'gyselalibxx/functions.md'  # Function documentation
          - 'Variables': 'gyselalibxx/variables.md'  # Global variables
          - 'Macros': 'gyselalibxx/macros.md'  # Macro definitions
          - 'Files': 'gyselalibxx/files.md'  # File-level documentation

# Recommended for strict MkDocs diagnostics
validation:
    not_found: warn
    omitted_files: warn
    absolute_links: warn  # Or 'relative_to_docs' - new in MkDocs 1.6
    unrecognized_links: warn
    anchors: warn  # New in MkDocs 1.6

# Theme Configuration
theme: readthedocs  # Uses the ReadTheDocs theme for the site

# Plugins for Extended Functionality
plugins:
  - mkdocs-pdf                            # Enables PDF export of documentation
  - search                                # Provides search functionality
  - include_dir_to_nav:                   # Automatically includes directories in navigation
      flat: false                         # Preserves directory structure
      file_name_as_title: True            # Uses file names as titles in navigation
  - mkdoxy:                               # Integrates Doxygen-generated documentation into MkDocs
      projects:
        gyselalibxx:
          src-dirs: ../src                # Source directory containing C++ code
          full-doc: True                  # Generates full documentation
          doxy-cfg:                       # Doxygen configuration settings
            FILE_PATTERNS: "*.cpp *.hpp"   # Files to process
            RECURSIVE: True               # Scan directories recursively
            EXTRACT_ALL: False            # Only extract documented elements
            EXCLUDE_SYMBOLS: "detail details mapping_detail"  # Exclude internal namespaces
            EXTRACT_LOCAL_CLASSES: True   # Include local classes
            EXAMPLE_PATH: ""              # Specify that there is no folder for example code fragments
            BUILTIN_STL_SUPPORT: True     # Enable STL class parsing
            CLANG_ASSISTED_PARSING: False # Use Clang for improved parsing
            ENUM_VALUES_PER_LINE: 1       # Display enum values one per line
            FORCE_LOCAL_INCLUDES: False   # List include files with double quotes rather than with sharp brackets.
            FULL_PATH_NAMES: True         # Show full file paths
            GENERATE_TREEVIEW: True       # Enable a tree structure in the navigation
            GENERATE_LATEX: False
            SHOW_FILES: True              # Display file list in documentation
            SHOW_INCLUDE_FILES: True      # Show included header files
            TYPEDEF_HIDES_STRUCT: True    # Hide struct definitions when typedefs are used
            USE_MATHJAX: True             # Use MathJax for formulae.
            WARN_LOGFILE: doxygen.log     # Save warnings to a log file

# Markdown Extensions
markdown_extensions:
  - footnotes
  - attr_list             # Allows setting attributes in markdown elements
  - pymdownx.arithmatex:  # Enables MathJax for LaTeX-style math rendering
      generic: true

# Additional JavaScript for Enhanced Functionality
extra_javascript:
  - docs/jscript/mathjax.js                               # Custom script for MathJax integration
  - https://polyfill.io/v3/polyfill.min.js?features=es6   # Ensures compatibility with older browsers
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js      # Loads MathJax for rendering mathematical equations
