name: CPU acceptance tests

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    branches-ignore:
      - main
  merge_group:
    types:
      - checks_requested
  push:
    branches: [devel]
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      toolchain:
        description: "Tool chain to use for test"
        required: true
        type: choice
        options:
          - serial_debug_toolchain
          - serial_release_toolchain
          - openmp_release_toolchain
          - ci_coverage_toolchain
      merge_target:
        description: "The branch to which this branch should be compared to filter out costly tests (default: devel)"
        required: false
        default: origin/devel
        type: string

concurrency:
  group: ${{ github.event_name == 'pull_request' && format('{0}-{1}', github.workflow, github.event.pull_request.number) || github.run_id }}
  cancel-in-progress: true

env:
  CHANGES_REF: ${{ github.event.pull_request.base.sha || github.event.merge_group.base_sha || inputs.merge_target }}

jobs:
  pre_job:
    name: 'Check for unnecessary runs'
    runs-on: ubuntu-latest
    #if: github.repository == 'gyselax/gyselalibxx' && (github.event_name != 'pull_request' || github.event.pull_request.draft == false)
    # Map a step output to a job output
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
      toolchain_matrix: ${{ steps.set-matrix.outputs.toolchain_matrix }}
    steps:
      - uses: actions/checkout@v4
      - id: skip_check
        uses: ./.github/actions/duplicate_check
      - if: github.event_name != 'workflow_dispatch' && github.event_name != 'push'
        run: |
          echo "matrix=['serial_debug_toolchain', 'serial_release_toolchain', 'openmp_release_toolchain', 'ci_coverage_toolchain']" >> $GITHUB_ENV
        shell: bash
      - if: github.event_name == 'push'
        run: |
          echo "matrix=['ci_coverage_toolchain']" >> $GITHUB_ENV
        shell: bash
      - if: github.event_name == 'workflow_dispatch'
        run: |
          echo "matrix=['${{ inputs.toolchain }}']" >> $GITHUB_ENV
        shell: bash
      - id: set-matrix
        run: |
          echo "${matrix}"
          echo "toolchain_matrix=$matrix" >> $GITHUB_OUTPUT
        shell: bash

  #docker_update:
  #  runs-on: ubuntu-latest
  #  outputs:
  #    image_tag: ${{ steps.docker.outputs.image_tag }}
  #  #if: github.repository == 'gyselax/gyselalibxx' && (github.event_name != 'pull_request' || github.event.pull_request.draft == false)
  #  steps:
  #    - uses: actions/checkout@v4
  #    - id: docker
  #      uses: ./.github/actions/docker_update
  #      with:
  #        always_push: ${{ github.event_name == 'push' || github.event_name == 'release' }}
  #        # Build the release tag with a ternary expression
  #        # 'latest' if push else (release.tag_name if release else '')
  #        release_tag: ${{ github.event_name == 'push' && 'latest' || ( github.event_name == 'release' && github.event.release.tag_name || '') }}

  #cpu_tests:
  #  runs-on: ubuntu-latest
  #  needs: [pre_job, docker_update]
  #  strategy:
  #    matrix:
  #      toolchain: ${{fromJson(needs.pre_job.outputs.toolchain_matrix)}}
  #      compiler:
  #        - name: 'gnu'
  #          c_compiler: 'gcc'
  #          cxx_compiler: 'g++'
  #        - name: 'clang'
  #          c_compiler: 'clang'
  #          cxx_compiler: 'clang++'
  #      exclude:
  #        - toolchain: 'ci_coverage_toolchain'
  #          compiler:
  #            name: 'clang'
  #        - toolchain: 'openmp_release_toolchain' # Clang + OpenMP leads to compiler failure with Clang 14.0.0
  #          compiler:
  #            name: 'clang'
  #    fail-fast: false
  #  container:
  #    image: ${{ needs.docker_update.outputs.image_tag }}
  #  name: CPU Test (${{ matrix.toolchain }}, ${{ matrix.compiler.name }})
  #  env:
  #    CC: ${{ matrix.compiler.c_compiler }}
  #    CXX: ${{ matrix.compiler.cxx_compiler }}
  #  steps:
  #    - name: Checkout gyselalibxx
  #      if: ${{ needs.pre_job.outputs.should_skip == 'false' }}
  #      uses: actions/checkout@v4
  #      with:
  #        submodules: recursive
  #    - name: "Filter tests"
  #      if: ${{ needs.pre_job.outputs.should_skip == 'false' }}
  #      uses: ./.github/actions/test_filter
  #    - name: Build code
  #      if: ${{ needs.pre_job.outputs.should_skip == 'false' }}
  #      uses: ./.github/actions/build_code
  #      with:
  #        toolchain: toolchains/common_toolchains/${{ matrix.toolchain }}.cmake
  #    - name: Run tests
  #      if: ${{ needs.pre_job.outputs.should_skip == 'false' }}
  #      uses: ./.github/actions/run_tests
  #    - name: Check Test Coverage
  #      if: needs.pre_job.outputs.should_skip == 'false' && matrix.toolchain == 'ci_coverage_toolchain'
  #      run: |
  #        pip install gcovr
  #        gcovr --filter src --lcov coverage.lcov --merge-mode-functions=merge-use-line-0 build
  #        # Remove branch information (causes more problems than it fixes)
  #        sed '/^BRDA:/d' -i coverage.lcov
  #        sed '/^BRH:/d' -i coverage.lcov
  #        sed '/^BRF:/d' -i coverage.lcov
  #    - name: Archive code coverage results
  #      if: needs.pre_job.outputs.should_skip == 'false' && matrix.toolchain == 'ci_coverage_toolchain'
  #      uses: actions/upload-artifact@v4
  #      with:
  #        name: code-coverage-report
  #        path: coverage.lcov

  #upload_coverage:
  #  name: Coverage upload
  #  needs: [pre_job, cpu_tests]
  #  runs-on: ubuntu-latest
  #  if: (github.event_name != 'workflow_dispatch' || inputs.toolchain == 'ci_coverage_toolchain') && needs.pre_job.outputs.should_skip == 'false'
  #  steps:
  #    - name: Checkout gyselalibxx
  #      uses: actions/checkout@v4
  #    - name: Download a single artifact
  #      uses: actions/download-artifact@v4
  #      with:
  #        name: code-coverage-report
  #    - name: Upload coverage reports to Codecov with GitHub Action
  #      uses: codecov/codecov-action@v5
  #      with:
  #        files: coverage.lcov
  #        token: ${{ secrets.CODECOV_TOKEN }}
  #        verbose: true

  include_what_you_use:
    name: Check includes
    runs-on: ubuntu-latest
    #needs: [pre_job, docker_update]
    needs: [pre_job]
    container:
      image: ghcr.io/gyselax/gyselalibxx_env:22dc4ff734e2d6bea61f6d4bb4f5cbc8722490a3 # ${{ needs.docker_update.outputs.image_tag }}
    env:
      CC: 'clang'
      CXX: 'clang++'
    steps:
      - name: Checkout gyselalibxx
        if: ${{ needs.pre_job.outputs.should_skip == 'false' }}
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: "Filter tests"
        if: ${{ needs.pre_job.outputs.should_skip == 'false' }}
        uses: ./.github/actions/test_filter
      - name: Check clang version
        id: clang-version
        run:
          CLANG_VERSION=$(clang --version | grep -oP 'clang version \K[0-9]+')
          echo "CLANG_VERSION=${CLANG_VERSION}" >> ${GITHUB_OUTPUT}
          echo "CLANG_VERSION=${CLANG_VERSION}"
        shell: bash
      - name: "Search for LLVM"
        run: |
          which clang
          CLANG_DIR=$(dirname `which clang`)
          ls ${CLANG_DIR}/*
          ls ${CLANG_DIR}/../*
          find ${CLANG_DIR}/.. -name LLVMConfig.cmake
          echo ${{ steps.clang-version.outputs.CLANG_VERSION }}
      - name: Checkout iwyu
        if: ${{ needs.pre_job.outputs.should_skip == 'false' }}
        uses: actions/checkout@v4
        with:
          repository: include-what-you-use/include-what-you-use
          ref: 0.14
          path: iwyu
      - name: Build iwyu
        run: |
          cmake -DCMAKE_PREFIX_PATH=/usr/lib/llvm-14 -B build -S .
          cmake --build build --parallel
          echo "$(pwd)/iwyu/build/bin/" >> $GITHUB_PATH
        working-directory: iwyu
        shell: bash
      - name: Build code
        run: |
          cmake -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DCMAKE_TOOLCHAIN_FILE=toolchains/common_toolchains/serial_debug_toolchain.cmake -B build -S .
          bin/filter_compile_commands build_iwyu/ src tests/ simulations/
          python3 iwyu/iwyu_tool.py -p build/relevant_compile_commands.json -- -Xiwyu --mapping_file=$(pwd)/bin/ci_tools/iwyu_config.imp
        shell: bash

  #set_pr_status:
  #  runs-on: ubuntu-latest
  #  name: CPU PR result
  #  needs: [cpu_tests]
  #  if: always() && (github.event_name == 'pull_request' && github.event.pull_request.draft == false)
  #  steps:
  #    - uses: actions/checkout@v4
  #    - uses: ./.github/actions/set_pr_status
  #      with:
  #        status: ${{ needs.cpu_tests.result }}
  #        pr_number: ${{ github.event.pull_request.number }}
  #        sha: ${{ github.event.pull_request.head.sha || github.sha }}
