name: CPU acceptance tests

on:
  workflow_dispatch:
    inputs:
      toolchain:
        description: "Tool chain to use for test"
        required: true
        type: choice
        options:
          - tests_toolchain
          - tests_release_toolchain
          - tests_release_omp_toolchain
      merge_target:
        description: "The branch to which this branch should be compared to filter out costly tests (default: main)"
        required: false
        default: main
        type: string
  workflow_call:
    inputs:
      toolchain:
        description: "Tool chain to use for test"
        required: true
        type: string
      merge_target:
        description: "The branch to which this branch should be compared to filter out costly tests"
        required: true
        type: string
      pr_number:
        description: "The number of the pull request that triggered the test"
        required: false
        type: number
      is_duplicate:
        description: "Indicate if the run would be a duplicate"
        required: false
        default: false
        type: boolean

concurrency:
  group: ${{ github.event_name != 'workflow_dispatch' && format('{0}-{1}-{2}', github.workflow, inputs.pr_number, inputs.toolchain) || github.run_id }}
  cancel-in-progress: true

jobs:
  cpu_tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/gyselax/gyselalibxx_env:latest
      options: --user root
    name: CPU Test (${{ inputs.toolchain }})
    steps:
      - name: Checkout gyselalibxx
        if: ${{ ! inputs.is_duplicate }}
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: "Filter tests"
        if: ${{ ! inputs.is_duplicate }}
        uses: ./.github/actions/test_filter
        with:
          base_sha: ${{ inputs.merge_target }}
          trigger_type: ${{ github.event_name }}
      - name: Build code
        if: ${{ ! inputs.is_duplicate }}
        uses: ./.github/actions/build_code
        with:
          toolchain: toolchains/docker.gyselalibxx_env/${{ inputs.toolchain }}.cmake
      - name: Run tests
        if: ${{ ! inputs.is_duplicate }}
        uses: ./.github/actions/run_tests

  set_pr_status:
    runs-on: ubuntu-latest
    name: CPU PR result
    needs: [cpu_tests]
    if: always() && ${{ inputs.pr_number }} != ""
    steps:
      - uses: ./.github/actions/set_pr_status
        with:
          status: ${{ needs.cpu_tests.result }}
          pr_number: ${{ inputs.pr_number }}
          sha: ${{ github.sha }}
